/Tourist places of Quito/build/
/Tourist places of Quito/nbproject/private/
/TouristicPlacesOfQuito/nbproject/private/
/TouristicPlacesOfQuito/build/
/TouristicPlacesOfQuito/MenusParks/nbproject/private/
/TouristicPlacesOfQuito/MenusParks/build/
/TouristicPlacesOfQuito/dist/
/TouristicPlacesOfQuito2/nbproject/private/
/TouristicPlacesOfQuito2/build/
/TouristicPlacesOfQuito2/dist/
/TouristicPlaceOfQuito2.0/build/
/TouristicPlaceOfQuito2.0/nbproject/private/
