/Tourist places of Quito/build/
/Tourist places of Quito/nbproject/private/
/TouristicPlacesOfQuito/nbproject/private/
/TouristicPlacesOfQuito/build/
/TouristicPlacesOfQuito/MenusParks/nbproject/private/
/TouristicPlacesOfQuito/MenusParks/build/
/TouristicPlacesOfQuito/dist/
